.product {
  background: #ffffff;
  box-shadow: 1px 1px 8px lightgray;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 8px #e76f51;
    transition: box-shadow 150ms ease-in;
  }

  &__thumbnail {
    height: 188px;
    margin: auto;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 188px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__percentage {
    background: #2a9d8f;
    border-top-right-radius: 10px;
    bottom: 0;
    color: #EFD595;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    padding: 2px 15px;
    position: absolute;
    z-index: 1;
  }

  &__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    max-width: 200px;
    min-height: 42px;
    overflow: hidden;
  }

  &__description {
    padding: 5px 15px 10px 15px;
  }

  &__price {
    color: #e76f51;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0 0 0;
  }

  &__rating, &__date {
    margin: 2.5px 0;
  }

  &__rating {
    font-size: 1rem;
    font-weight: 500;
  }

  &__date {
    color: darkgray;
    font-size: 0.9rem;
    font-weight: 100;
  }
}