@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0
}

.store {
  background: #f5f5f5;
}

.products-container {
  margin: auto;
  max-width: 1200px;
}
